---
title: MS2extract Part 3 - Behind the curtains of importing MS/MS data
author: Daniel Quiroz & Jessica Cooperstone
date: '2023-09-27'
slug: [MS2extract]
categories:
  - LC-MS
tags:
  - MS2extract
  - MS/MS libraries
  - LC-MS
  - DataViz
subtitle: 'Describing how MS2extract imports and handles MS/MS data'
description: 'In this post we are going to explain how we import, calculate error mass, and filter scans in MS2extract'
image: ''
editor_options: 
  markdown: 
    wrap: 72
---



<div id="goal-of-this-vignette" class="section level1">
<h1>Goal of this vignette</h1>
<p>The main objective of this document is to explain in a detailed manner
how we import and process MS/MS when you use <code>import_mzxml()</code>.</p>
<p>This document is organized based on the main steps we take to import
MS/MS data that are:</p>
<ul>
<li>Calculating the theoretical precursor ion,</li>
<li>Filtering MS/MS scans for a given precursor ion and rt range, and</li>
<li>Finding the most intense MS/MS scan.</li>
</ul>
</div>
<div id="calculating-the-theoretical-precursor-ion" class="section level1">
<h1>Calculating the theoretical precursor ion</h1>
<p>One of the main inputs, besides the .mzML data, is the <code>met_metadata</code>
data frame used in <code>import_mzxml()</code>. This data frame contains the
minimum information to calculate the theoretical precursor ion <em>m/z</em>
given the following information:</p>
<ul>
<li>Chemical formula,</li>
<li>Ionization polarity, and</li>
<li>ppm (mass error)</li>
</ul>
<p>This process can be depicted in the following image.</p>
<p><img src="Import_1.png" /></p>
<p>Here, we are going to use procyanidin A2 to demonstrate this process.
(1) First, by using the <code>Rdisop</code> package, we calculate the
theoretical monoisotopic mass. (2) Then, given an specific polarity
(<em>Positive</em> or <em>Negative</em>), we add or subtract the mass of a proton to
calculate the theoretical ion <em>m/z</em>. (3) Finally, we used the provided
ppm value (10 ppm by default) to calculate the <em>m/z</em> range that will be
used to filter scan that the precursor ion value falls within this
range.</p>
<p>You can also calculate this ppm range with <code>ppm_range()</code></p>
<pre class="r"><code>ppm_range(mz = 575.12604, ppm = 10)
#&gt; [1] 575.1203 575.1318</code></pre>
</div>
<div id="filtering-msms-scans" class="section level1">
<h1>Filtering MS/MS scans</h1>
<div id="using-retention-time-region-of-interest" class="section level2">
<h2>Using retention time region of interest</h2>
<p>Although providing a retention time window is not mandatory, it is
highly suggested to provide this information to have more control over
the regions of the run that we look for the MS/MS scans. If you do not
provide a specific rt ROI, this package will look for the most intense
scan, even if that do not represent the desired scans from the provided
metabolite.</p>
<p><img src="Import_2.png" /></p>
</div>
<div id="filtering-using-mz-range-and-rt-roi" class="section level2">
<h2>Filtering using <em>m/z</em> range and rt ROI</h2>
<p>Then, after calculating the theoretical <em>m/z</em> range, and knowing the rt
ROI, we can look in the data for the MS/MS scans that have this
information.</p>
<p>If <code>MS2extract</code> do not find at least one MS/MS scan within the given
<em>m/z</em> range and rt ROI, it will stop.</p>
<p>In the following example, the scan in the first row does not meet these
requirements, and it is discarded, while the second and third scan falls
within these requirements, and are kept for the next steps.</p>
<p><img src="Import_3.png" /></p>
</div>
</div>
