---
title: Exploring the notame package
author: Daniel Quiroz
date: '2020-04-17'
slug: notameII
categories:
  - LC-MS
tags:
  - Untarget metabolomics
  - Liquid chromatography
  - Mass spectrometry
subtitle: 'Part II: Statisctical analysis'
description: 'notame is an R package for untargeted metabolomic profiling. The notame package offers several uni and multivariate statistical analysis, such as: manhattan plot, anova, heatmat, HCA, etc.'
image: '/img/post/qc_white.png'
output:
  blogdown::html_page:
    toc: true
---

<script src="/rmarkdown-libs/header-attrs/header-attrs.js"></script>

<div id="TOC">
<ul>
<li><a href="#disclaimer">Disclaimer</a></li>
<li><a href="#key-part-features-of-the-part-i">Key part features of the Part I</a></li>
<li><a href="#loading-needed-libraries">Loading needed libraries</a></li>
<li><a href="#data-imputation">Data imputation</a></li>
<li><a href="#feature-cleastering">Feature cleastering</a></li>
<li><a href="#satistical-learning">Satistical learning</a>
<ul>
<li><a href="#principal-component-analysis">Principal component analysis</a></li>
<li><a href="#pls-da">PLS-DA</a>
<ul>
<li><a href="#customizing-the-pls-da-plot">Customizing the PLS-DA plot</a></li>
<li><a href="#vip-features">VIP Features</a></li>
</ul></li>
<li><a href="#heatmap">Heatmap</a></li>
</ul></li>
<li><a href="#feature-wise-analysis">Feature-wise analysis</a>
<ul>
<li><a href="#p-values-distribution">p-values distribution</a></li>
<li><a href="#volcano-plot">Volcano plot</a></li>
<li><a href="#manhattan-plot">Manhattan plot</a></li>
<li><a href="#mz-vs-rt-plot">m/z vs rt plot</a></li>
</ul></li>
</ul>
</div>

<style>
body {text-align: justify}
</style>
<div id="disclaimer" class="section level1">
<h1>Disclaimer</h1>
<ul>
<li><p><font color="e96060"> This post does not intend to replace the official
package documentation. This post aims to examine the main functions that
it provides. For official documentation, please refer to the paper or the
corresponding author. </font></p></li>
<li><p><font color="00c018"> In order to avoid package misuse, this post
was revised for the package developer and his suggestions was already
implemented. </font></p></li>
</ul>
</div>
<div id="key-part-features-of-the-part-i" class="section level1">
<h1>Key part features of the Part I</h1>
<p>In the part I, a brief introduction about the package purpose, installation,
the main preprocessing steps and their impact over data was explained.
The main reason because the exploration of the notame package was split
in two posts is based on data
analysis workflow, divided in two main steps: preprocessing and statistical
analysis.</p>
<p>Therefore, in this post, downstream statistical analysis available in the notame
package, will be explained.</p>
</div>
<div id="loading-needed-libraries" class="section level1">
<h1>Loading needed libraries</h1>
<p>The first step, with good programming techniques, is to load the
required libraries.</p>
<pre class="r"><code>library(notame) # Workflow for non-targeted LC-MS metabolic profiling
library(here) # A Simpler Way to Find Your Files
library(missForest) # Nonparametric Missing Value Imputation using Random Forest
library(mixOmics) # Omics Data Integration Project
library(tidyverse) # Easily Install and Load the &#39;Tidyverse&#39;
library(magrittr) # A Forward-Pipe Operator for R
library(ComplexHeatmap) # Make Complex Heatmaps
library(colorRamps) # Builds color tables
library(circlize) # Circular Visualization
library(patchwork) # The Composer of Plots</code></pre>
</div>
<div id="data-imputation" class="section level1">
<h1>Data imputation</h1>
<p>The last step that we performed is batch correction.
One characteristic of the data is that some peaks are not
detected and they were filled with <code>NA</code> or not available values. Some procedures
can be applied to input the data. The implemented procedure takes the flavor
of the random forest algorithm.</p>
<p>Before to impute the <code>NA</code> values, we can inspect how many of them are and not.</p>
<pre class="r"><code># Retrieve peak values (maybe not the best object number)
exprs(corrected_batch) %&gt;% 
  is.na %&gt;% # eval if the values are NA, if yes = T
  sum # sum the total number of NA values</code></pre>
<pre><code>## [1] 2544</code></pre>
<p>If we consider the total number of cells (rows * column), we can have an idea about
the percentage of missing values.</p>
<pre class="r"><code>dim(exprs(corrected_batch))</code></pre>
<pre><code>## [1] 514  45</code></pre>
<p>Of a total of 23 130 values, 2 444 are <code>NA</code>, which is 11% of all data.</p>
<p>One good technique to ensure research reproducibility, is to set the seed
number before to execute an statistical learning algorithm, which uses random
numbers. Basically, it ensures to obtain the same results when
a procedure requires random numbers, or heuristic approaches.</p>
<pre class="r"><code># Drop QC
all_noQC &lt;- drop_qcs(corrected_batch)
# set the set for reproducibility research
set.seed(10) # introduce the number of your preference
# Data imputation
imputed &lt;- impute_rf(all_noQC, all_features = T)</code></pre>
<pre><code>## 
## Starting random forest imputation at 2020-06-16 17:08:17
##   missForest iteration 1 in progress...done!
##   missForest iteration 2 in progress...done!
##   missForest iteration 3 in progress...done!
## Out-of-bag error in random forest imputation: 0.329
## Random forest imputation finished at 2020-06-16 17:08:41</code></pre>
<p>Now we can evaluate if all missing values were filled.</p>
<pre class="r"><code>exprs(imputed) %&gt;% #retrieve peak values
  is.na %&gt;% # eval if the values are NA, if yes = T
  sum # sum the total number of NA values</code></pre>
<pre><code>## [1] 0</code></pre>
</div>
<div id="feature-cleastering" class="section level1">
<h1>Feature cleastering</h1>
<p>The ionization step in mass spectrometry, aims to charge the molecule, either
with positive or negative charge for a subsequent fragmentation and
molecule annotation or discovery. In this event, due to the molecule
fragmentation, some adducts and isotopes, and neutral losses can be
detected, and the pick picking algorithms can assign it into a feature.
Even though, due to ionization issues, such us suppression and unpredictable
adducts behavior may yield to detect the same metabolite more than one time.
If one metabolite products more than one feature, it created a collinearity
and multicolinearity affect in the data matrix. Therefore, in the
downstream analysis, this feature will be redundant.</p>
<p><a href="https://aaltodoc.aalto.fi/handle/123456789/39870">Mattson 2019</a> created a
method to remove these redundant features. It combines cluster and
graph analysis. The hypothesis is that a metabolites which creates multiple
peak features, has a strong spectral correlation within a narrow retention
time. When high correlated features are clustered, a graph is generated with
these features in the time window. For more procedure details, please refer to
the <a href="doi:10.3390/metabo10040135">package article</a> or read to the
<code>feature_clustering</code> vignette with
the <code>vignette("feature_clustering", package = "notame")</code> command.</p>
<p>This <em>cluster_features</em> algorithm works with three main arguments:</p>
<ul>
<li><code>rt_window</code>: retention time windows. As package developer suggestion, it should be not greater than 1 second (1/60),</li>
<li><code>corr_thresh</code>: Threshold for Spearman correlation exposing high correlated features,</li>
<li><code>d_trhesh</code>: Threshold for the connectivity degree for nodes.</li>
</ul>
<p>The algorithm start grouping features that were detected in the provided
retention time window. Then, it calculates the Spearman correlation across
samples and preserver features with a correlation above the threshold and
a graph with features as nodes and correlations as edges (Fig. 1A).
Then, the connectivity criteria is calculated by multiplying the number of nodes
in the graph by the connectivity degree. The result will stablish the minimum
nodes connections to create a feature cluster (Fig. 2B).</p>
<div class="figure">
<img src="/post/2020-04-17-notame-analysis_files/cluster_features.jpg" style="width:80.0%" alt="" />
<p class="caption">Figure 1. Cluster features algorithm.</p>
</div>
<pre class="r"><code>clustered &lt;- cluster_features(imputed, rt_window = 1/60, all_features = T,
                              corr_thresh = 0.9, d_thresh = 0.8)</code></pre>
<pre><code>## 
## Starting feature clustering at 2020-06-16 17:08:41
## Finding connections between features in Octodecyl_Pos</code></pre>
<pre><code>## Warning: executing %dopar% sequentially: no parallel backend registered</code></pre>
<pre><code>## [1] 100
## [1] 200
## [1] 300
## [1] 400
## [1] 500
## Found 1235 connections in Octodecyl_Pos
## Found 1235 connections
## 75 components found
## 
## 16 components found
## 
## 2 components found
## 
## Found 81 clusters of 2 or more features, clustering finished at 2020-06-16 17:08:53</code></pre>
<p>This verbose message indicates that 1235 connections were yielded by 81
clusters, possible metabolites. Once the clusters and graphs were created,
redundant features can be removed.</p>
<pre class="r"><code>compressed &lt;- compress_clusters(clustered)</code></pre>
<pre><code>## Clusters compressed, left with 322 features</code></pre>
<p>If we remember the number of features that the <code>exprs</code> had (514), they were
reduced to 322 non-redundant features . With this table, statistical
analysis will be conducted.</p>
</div>
<div id="satistical-learning" class="section level1">
<h1>Satistical learning</h1>
<div id="principal-component-analysis" class="section level2">
<h2>Principal component analysis</h2>
<p>The PCA conducted in the part I, aimed to evaluate the chromatographic
performance, mainly low variability between QC’s.
Since the previous PCA results confirmed good
performance, we can precede to evaluate the biological difference between
sample groups.</p>
<pre class="r"><code>plot_pca(compressed)</code></pre>
<p><img src="/post/2020-04-17-notame-analysis_files/figure-html/unnamed-chunk-9-1.png" width="672" /></p>
<p>Sadly, the new PCA reveals that sample groups do not show clear difference or
clustering. One approach that we can take is to use a supervised model. In
contrast with PCA, which is an unsupervised approach, the PLS-DA is supervised.</p>
</div>
<div id="pls-da" class="section level2">
<h2>PLS-DA</h2>
<p>The PLS-DA in the notame package is implemented trough several <code>mixomics_*</code>
functions. Although, there are a set of possibilities, I rather prefer to build
the PLS-DA model directly with the <code>mixOmics</code> package. You can refer to the
official documentation <a href="https://mixomicsteam.github.io/Bookdown">vignette</a> and
<a href="http://mixomics.org">web page</a> to improve your models.</p>
<p>The first step is to create the response variable (classes/group) and
predictors (peak table).</p>
<pre class="r"><code># Extract the peak table 
X &lt;- t(exprs(compressed))
X &lt;- scale(X, center = T, scale = F)
# Extract the predicted variable
Y &lt;- pData(compressed)[, &#39;Class&#39;]</code></pre>
<p>The PLS-DA model will be created with two latent variable.</p>
<pre class="r"><code>model_plsda &lt;- plsda(X = X, Y = Y, ncomp = 3)
plotIndiv(model_plsda, title = &quot;PLS-DA&quot;)</code></pre>
<p><img src="/post/2020-04-17-notame-analysis_files/figure-html/unnamed-chunk-11-1.png" width="672" /></p>
<p>The created model could capture 28% of the explained variance. As expected,
the group cluster are more more separated than in the PCA.</p>
<p>The <code>mixOmics</code> package has the possibility to evaluate the impact of the number
of predictors in the balanced error rate. A vector with the increasing number of
predictors need to be created. As we discuss early, the reduced features yielded
to 64 features.</p>
<pre class="r"><code>(keek_predictors &lt;- c(seq(10, 307, 20), 317))</code></pre>
<pre><code>##  [1]  10  30  50  70  90 110 130 150 170 190 210 230 250 270 290 317</code></pre>
<p>To eval the impact of the predictors to the balanced error rate, <code>tune.splsda</code>
is used. This function will evaluate will perform M-fold or LOOV cross-validation
as many times as you require in the <code>nrepeat</code> argument. The M-fold cross-validation
is the same when <code>M</code> is equal to 1. In our case, <code>M</code> is equal to LOOV to 5
and the model will be created and evaluated 100 times for example purposes.
Moreover, in your case, you can increase the number of times to have a more
comprehensive model picture.</p>
<pre class="r"><code>tune_splsda &lt;- tune.splsda(X, Y, ncomp = 3, validation = &quot;Mfold&quot;,
                           folds = 5, measure = &quot;BER&quot;, test.keepX = keek_predictors,
                           nrepeat = 100, progressBar = T, auc = T,
                           cpus = 3)</code></pre>
<pre class="r"><code>plot(tune_splsda)</code></pre>
<p><img src="/post/2020-04-17-notame-analysis_files/figure-html/unnamed-chunk-15-1.png" width="672" /></p>
<p>The balanced error rate (BER) tends to decrease as the number of features
increase for the first latent variable (<font color="2373d0">blue line</font>)
with an optimum of 190 features to achieve the minimum balanced error rate.
On the other hand, the incorporation of the first and second latent variables
achieve a lower balanced error rate than the first latent variable.
Moreover, the minimum BER was achieved by using the third first latent variables.
Therefore, if we inspect the suggested number of latent variable to create a
PLS-DA model, we should have 3 latent variables.</p>
<pre class="r"><code>tune_splsda$choice.ncomp$ncomp</code></pre>
<pre><code>## [1] 3</code></pre>
<div id="customizing-the-pls-da-plot" class="section level3">
<h3>Customizing the PLS-DA plot</h3>
<p>Although the <code>mixOmics</code> and <code>notame</code> package provides useful functions to plot
the PLS-DA model, I rather prefer to display with my own preferences using
native ggplot functions.</p>
<pre class="r"><code>pls_scores &lt;- model_plsda$variates$X %&gt;%  # Retrieve PLS scores
  data.frame %&gt;% 
  mutate(Sample_ID = rownames(.)) # Create a column with the row names

pls_points &lt;- left_join(pls_scores, pData(compressed) ) # Join with phenodata

# Visualization
ggplot(pls_points, aes(comp1, comp2 )) + geom_point(aes(color= Class)) +
  stat_ellipse(aes(color= Class)) + theme_bw() + 
  labs(x = &quot;LV1 (24%)&quot;, y = &quot;LV2 (12%)&quot;)</code></pre>
<p><img src="/post/2020-04-17-notame-analysis_files/figure-html/unnamed-chunk-17-1.png" width="672" /></p>
</div>
<div id="vip-features" class="section level3">
<h3>VIP Features</h3>
<p>One criterion to discriminate features that contribute to the group differences,
is to look in the Variable Importance Prediction (VIP). Features with VIP
values greater than 1 unit, are considered as important features.</p>
<pre class="r"><code>vip_all &lt;- mixOmics::vip(model_plsda) %&gt;%
  data.frame %&gt;% 
  mutate(Features = rownames(.))
head(vip_all, 2)</code></pre>
<pre><code>##       comp1     comp2     comp3                    Features
## 1 0.9539412 0.6773970 0.6747923 Octodecyl_Pos_80_9701a0_475
## 2 1.0208469 0.8418715 0.8149715 Octodecyl_Pos_84_0278a0_504</code></pre>
<p>Since some features do not meet the criteria of <span class="math inline">\(VIP &gt; 1\)</span>, they will be
removed only to preserve more significant features.</p>
<pre class="r"><code>plsda_vip &lt;- vip_all %&gt;%  
  filter(comp1 &gt;1) # Filter features VIP &gt; 1
dim(plsda_vip)</code></pre>
<pre><code>## [1] 130   4</code></pre>
<p>We start with 317 predictors, when we evaluate features according to VIP, only 130
features show to be significant to induce sample group differences.</p>
<p><strong>Cleaning VIP features</strong></p>
<p>If the workflow of the <code>notame</code> package is examined (Fig. 1 in the paper), once
the possible biomarker features, the analyst goes back to MS-DIAL to elucidate
those features. Although this package creates a unique feature ID, it is not
very intuitive. The suggested function to clean features may proceed as follow:</p>
<pre class="r"><code>clean_vip &lt;- function(vip_feat, column_ID = &quot;Octodecyl_Pos_&quot;) {
  cleaned_vip &lt;- vip_feat %&gt;% 
  dplyr::select(Features) %&gt;% # Select the features column
  mutate(Features = str_remove(Features, column_ID )) %&gt;%  # Remove constant column ID
  separate(Features, into = c(&quot;mz&quot;, &quot;rt&quot;), sep = &quot;a&quot;) %&gt;% # Separate m/z and rt columns
  mutate(mz = str_replace(mz, &quot;_&quot;, &quot;.&quot;),
         rt = str_replace(rt, &quot;_&quot;, &quot;.&quot;) ) %&gt;% # change decimal point
  mutate_all(as.numeric) %&gt;% arrange(rt, mz) # Arrange VIP features
}
final_vip &lt;- clean_vip(plsda_vip, column_ID = &quot;Octodecyl_Pos_&quot;)
head(final_vip, 4)</code></pre>
<pre><code>##         mz    rt
## 1 441.1928 0.466
## 2 446.9590 0.473
## 3 261.1712 0.475
## 4 158.9974 0.477</code></pre>
<p>Now, the features looks more familiar and intuitive.</p>
</div>
</div>
<div id="heatmap" class="section level2">
<h2>Heatmap</h2>
<p>The heatmap function in the actual package <code>plot_*_heatmap</code> can handle basic
layout. For a more personalized heatmap, the <code>complexHeatmap</code> package will be used.
To have a bigger idea, the heatmap will use all features.</p>
<p>Practically, VIP features as in the previous step will be transformed.</p>
<pre class="r"><code>vip_tmp &lt;- left_join(plsda_vip,
          exprs(compressed) %&gt;% data.frame %&gt;%
            mutate(Features = rownames(.))) %&gt;% 
  dplyr::select(-comp3)

vip_tmp &lt;- vip_tmp %&gt;%  filter(comp1 &gt; 1) %&gt;% 
  mutate(Features = str_remove( Features,&quot;Octodecyl_Pos_&quot;)) 
rownames(vip_tmp) &lt;- vip_tmp$Features

# Prepare heatmap  annotation
prepare_vip &lt;- as.matrix( vip_tmp[, -seq(6) ] ) 
prepare_vip &lt;- abs(prepare_vip)
vip_log &lt;- log(prepare_vip +1) # Transformation log(x + 1)</code></pre>
<p>The color function to customize the heatmap colors will be
created here and used after.</p>
<pre class="r"><code># Col function
col &lt;- colorRampPalette(c(&#39;green&#39;, &#39;green&#39;,&#39;black&#39;,&#39;red&#39;, &#39;red&#39;))(35)</code></pre>
<p>Create the heatmap annotation and legend separately.</p>
<pre class="r"><code># Heatmap annotation
antag &lt;- data.frame(Antagonism =pData(compressed)$Class[-seq(3)])
ha &lt;- HeatmapAnnotation(Antagonism = pData(compressed)$Class[-seq(3)],
                        col = list(Antagonism = c(&quot;Axenic culture&quot; = &quot;#374E55FF&quot;,
                                                   &quot;Deleyed interaction&quot; = &quot;#DF8F44FF&quot;,
                                                   &quot;Direct interaction&quot; = &quot;#00A1D5FF&quot;) ) )</code></pre>
<p>Display heatmap</p>
<pre class="r"><code>Heatmap(vip_log , top_annotation = ha, show_row_names = F,
         na_col = &quot;black&quot;, row_title = &quot;Fatures&quot;,
        column_km = 3, row_km = 3, col = col, show_column_names = F,
        show_heatmap_legend = T,
        heatmap_legend_param = list(title = &quot;Abundance\nlog(x + 1)&quot;) )</code></pre>
<p><img src="/post/2020-04-17-notame-analysis_files/figure-html/unnamed-chunk-24-1.png" width="672" /></p>
<p>The created heatmap presents similar information with the PCA and the PLS-DA.
The delayed interaction was clustered in a deeper clade of the dendrogra.
In the same stream than PLS-DA one axenic culture was</p>
</div>
</div>
<div id="feature-wise-analysis" class="section level1">
<h1>Feature-wise analysis</h1>
<p>In the previous section a global inspection was performed with three multivariate
analyses. This gives us a broad overview of the data. To have a deeper perspective on
the contribution of each feature to class differences, we can perform
feature-wise analysis.</p>
<p><em>For those analysts who have paired data, please refer to the paper since here</em>
<em>paired data will not be discussed</em>.</p>
<div id="p-values-distribution" class="section level2">
<h2>p-values distribution</h2>
<p>To evaluate if there are difference between sample classes/groups,
linear models can be used. A linear model <span class="math inline">\(y = ax + b\)</span> where <span class="math inline">\(y = features\)</span> and
<span class="math inline">\(x = Class\)</span>.</p>
<pre class="r"><code>lm_result &lt;- perform_lm(compressed, formula_char = &quot;Feature ~ Class&quot;,
                        all_features = T)</code></pre>
<pre><code>## 
## Starting linear regression at 2020-06-16 17:08:57
## Linear regression performed at 2020-06-16 17:09:04</code></pre>
<p>To plot the p-value histogram, a single column dataset has to be provided
as argument to the <em>plot_p_histogram()</em> function.</p>
<pre class="r"><code>deleyed_plot &lt;- dplyr::select(lm_result, Delayed = `ClassDeleyed interaction_P`) %&gt;% 
  plot_p_histogram() + labs(x = &quot;Deleyed interaction&quot;)
# Direct interaction plot
direct_plot &lt;- dplyr::select(lm_result, Direct = `ClassDirect interaction_P`) %&gt;% 
  plot_p_histogram() + ggtitle(&quot;Direct interaction&quot;)
 deleyed_plot | direct_plot</code></pre>
<p><img src="/post/2020-04-17-notame-analysis_files/figure-html/unnamed-chunk-26-1.png" width="672" /></p>
<p>In the read line of each histogram is computed the expected uniform distribution.
If the p-value fits the expected uniform distribution, no evidence of sample
difference is found. The delayed interaction clearly deviates from the uniform
distribution, thus difference between groups can be expressed. On the other hand,
for the direct interaction, the p-values distribution is highly similar to the
expected distribution with the exception of the first bin. Then, different
feature-wise approaches can be used to evaluate them.</p>
</div>
<div id="volcano-plot" class="section level2">
<h2>Volcano plot</h2>
<p>The procedure to make the volcano plot is to use the <code>lm_result</code> previously
obtained, columns will be renamed.</p>
<pre class="r"><code>lm_result %&lt;&gt;% dplyr::select(a_E = `(Intercept)_Estimate`, # Axenic estimate, p-value and FDR
                     a_P = `(Intercept)_P`,
                     a_FDR = `(Intercept)_P_FDR`,
                     de_E = `ClassDeleyed interaction_Estimate`, # Delayed interaction
                     de_P = `ClassDeleyed interaction_P`,
                     de_FDR = `ClassDeleyed interaction_P_FDR`,
                     di_E = `ClassDirect interaction_Estimate`, # Direct interaction
                     di_P = `ClassDirect interaction_P`,
                     di_FDR = `ClassDirect interaction_P_FDR`,
                     Features = Feature_ID) </code></pre>
<p>In order to give a color scale according to the PLS-DA VIP values, two datasets
will be merged.</p>
<pre class="r"><code>volcano_data &lt;- left_join(lm_result, vip_all)</code></pre>
<pre><code>## Joining, by = &quot;Features&quot;</code></pre>
<p>Now we can proceed to make volcano plots.</p>
<pre class="r"><code>volcano_direct &lt;- volcano_plot(volcano_data, x = &quot;di_E&quot;, p = &quot;di_P&quot;, p_fdr = &quot;di_FDR&quot;,
                               color = &quot;comp1&quot;, fdr_limit = 0.001) + 
  guides(color = F) +
  labs(title = &quot;Direct volcano plot&quot;, x = &quot;Effect size&quot;, y = &quot;p-value&quot; )
volcano_delayed &lt;- volcano_plot(volcano_data, x = &quot;de_E&quot;, p = &quot;de_P&quot;, p_fdr = &quot;de_FDR&quot;,
                               color = &quot;comp1&quot;, fdr_limit = 0.001) + 
  labs(color = &quot;VIP&quot;, title = &quot;Deleyed volcano plot&quot;,  x = &quot;Effect size&quot;, y = &quot;p-value&quot; )
volcano_direct + volcano_delayed + plot_layout(guides = &quot;collect&quot;, ncol = 2)</code></pre>
<p><img src="/post/2020-04-17-notame-analysis_files/figure-html/unnamed-chunk-29-1.png" width="768" /></p>
</div>
<div id="manhattan-plot" class="section level2">
<h2>Manhattan plot</h2>
<p>The Manhattan plot presents an advantage over the volcano plot, the x-axis
is the mass to charge ration what can link features with biochemical properties.</p>
<p>If we remember the <code>volcano_data</code> already has the computed p-values for each
class. Even tough, the m/z column is not included in the data.</p>
<pre class="r"><code>mz_dt &lt;- fData(compressed) %&gt;% dplyr::select(Features = Feature_ID, mz = Mass, rt = RT)
manhattan_data &lt;- left_join(mz_dt, volcano_data)</code></pre>
<pre><code>## Joining, by = &quot;Features&quot;</code></pre>
<p>Then, we can proceed to create the Manhattan plots.</p>
<pre class="r"><code>man_direct &lt;- manhattan_plot(manhattan_data, x = &quot;mz&quot;, p = &quot;di_P&quot;, color = &quot;comp1&quot;,
                             p_fdr = &quot;di_FDR&quot;, effect = &quot;di_E&quot;, fdr_limit = 0.001) +
  labs(title = &quot;Direct interaction&quot;) + guides(color = F)
man_delayed &lt;- manhattan_plot(manhattan_data, x = &quot;mz&quot;, p = &quot;de_P&quot;, color = &quot;comp1&quot;,
                             p_fdr = &quot;de_FDR&quot;, effect = &quot;de_E&quot;, fdr_limit = 0.001) +
  labs(title = &quot;Delayed interaction&quot;) + labs(color = &quot;VIP&quot;)
all_manhatan &lt;- man_direct + man_delayed + plot_layout(guides = &quot;collect&quot;, ncol = 2)
all_manhatan</code></pre>
<p><img src="/post/2020-04-17-notame-analysis_files/figure-html/unnamed-chunk-31-1.png" width="672" /></p>
</div>
<div id="mz-vs-rt-plot" class="section level2">
<h2>m/z vs rt plot</h2>
<p>The last figure in the notame package includes the p-value and VIP values across
the retention time and m/z axis. If the required variables are analyzed:</p>
<ul>
<li>retention time (rt)</li>
<li>mass to charge (mz)</li>
<li>VIP values (comp1)</li>
<li>p-value (a_P, di_P, de_P)</li>
</ul>
<p>All variables are in the <code>manhattan_data</code> table. Even though, we can plot the
p-values of all classes in the same plot, but a prestep is needed. Basically,
only the aforementioned variables are maintained and the unwanted variables
are removed. Then, the p-values of the three classes are melted or gathered
into a single column.</p>
<pre class="r"><code>gathered_data &lt;- manhattan_data %&gt;%
  dplyr::select(-ends_with(c(&quot;_E&quot;, &quot;_FDR&quot;)), -Features) %&gt;% # Remove Effect and FDR variables
  gather(key = &quot;Classes&quot;, value = &quot;Pvalues&quot;, a_P:di_P) # Melt p-values in 1 column
dim(gathered_data)</code></pre>
<pre><code>## [1] 966   7</code></pre>
<p>Before to create the plot, and, in order to overcome the overploting effect,
features with <span class="math inline">\(VIP &gt; 1\)</span> will be filtered, and the p-values scales will be
discretized.</p>
<pre class="r"><code>gathered_data %&lt;&gt;% filter(comp1 &gt; 1)
dim(gathered_data)</code></pre>
<pre><code>## [1] 390   7</code></pre>
<p>Now, the features were filtered more than half of them.</p>
<pre class="r"><code>ggplot(gathered_data, aes(x = rt, y = mz)) + 
  geom_point(aes(size = comp1, color = log(Pvalues) )) +
  labs(size = &quot;VIP&quot;, color = &quot;log(p)&quot;, y = &quot;m/z&quot;, x = &quot;retention time (min)&quot;) +
  viridis::scale_colour_viridis() +
  theme_bw()</code></pre>
<p><img src="/post/2020-04-17-notame-analysis_files/figure-html/unnamed-chunk-34-1.png" width="672" /></p>
</div>
</div>
